<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试验</title>
</head>
<body>
{#                       <a>出发站</a>#}
{#                       <input type="text" style="color:#333333" class="input-medium search-query" name="from_station_name"/>#}
{#                       {{ form.from_station_name.errors }}#}
{#                       <a>终点站</a>#}
{#                       <input type="text" style="color:#333333" class="input-medium search-query" name="to_station_name"/>#}
{#                       {{ form.to_station_name.errors }}#}
{#                       <a>日期</a>#}
{#                       <input type="date" style="color:#333333" class="input-medium search-query" name="date"/>#}
{#                       {{ form.date.errors }}#}
{#                       <button type="submit" class="btn">搜索</button>#}
</body>
</html>