<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>改签车票查询</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <style type="text/css">
        #box{width:700px;text-align:left;margin:0 auto;padding-top:20px;}
        #suggest,#suggest2{width:200px;}
        .gray{color:#333333;}
        .ac_results {background:#fff;border:1px solid #7f9db9;position:absolute;z-index:10000;display:none;}
        .ac_results ul{margin:0;padding:0;list-style:none;}
        .ac_results li a{white-space:nowrap;text-decoration:none;display:block;color:#05a;padding:1px 3px;}
        .ac_results li{border:1px solid #fff;}
        .a_over,.ac_results li a:hover {background:#c8e3fc;}
        .ac_results li a span{float:right;}
        .ac_result_tip{border-bottom:1px dashed #666;padding:3px;}
    </style>
</head>
<body>
<!--head-->
   <div class="header" >
   		<div class="inner">
   			<div class="logo">
   <a href="/index/" title="火车票"><img src="/static/img/logo.webp" width="60" height="60"/></a>
   			</div>
   			<div class="headlink">
                {% if request.user.is_authenticated %}
   				    {{ request.user.username }}<a href="{% url 'Train:user_logout' %}">退出登录</a>
                    &nbsp;|&nbsp;
                    <a href="{% url 'Train:change_password' %}">修改密码</a>
   				{% else %}
                    <a href="{% url 'Train:user_login' %}">登录</a>
                    &nbsp;|&nbsp;
                    <a href="/register/">注册</a>
                {% endif %}
   			</div>
   		</div>
   </div>
<!--head end-->
<div class="middle" >
   <div class="cont">
   <!--菜单-->
       <div class="class">
           <ul>
               <h3 style="color:#FFF;">栏目分类</h3>
               <a href="/train/" class="_all3"><li>车票查询</li></a>
{#               <a href="/border/" class="_all2"><li>申请订票</li></a>#}
               <a href="/corder/" class="net"><li>我的火车票</li></a>
               <a href="/problem/" class="_all5"><li>问题反馈</li></a>
           </ul>
       </div>
       <!--菜单 end-->
       <!--指南-->
       <div class="class_a" >
  <!--火车时刻表-->
           <div class="all1">
               <h4 style="color:#fff">改签车票查询</h4>
                   <form class="form-search" method="post" action="{% url 'Train:search_train1' %}">
                       {% csrf_token %}
                       {% for order in orders %}
                       <a>出发站</a>
                       <input type="text" style="color:#333333" class="input-medium search-query" name="from_station_name" value="{{ order.from_station_name }}"/>
                       <a>终点站</a>
                       <input type="text" style="color:#333333" class="input-medium search-query" name="to_station_name" value="{{ order.to_station_name }}"/>
                       <a>日期</a>
                       <input type="date" style="color:#333333" class="input-medium search-query" name="date"/>
                       {% endfor %}
                       <button type="submit" class="btn">搜索</button>
                   </form>
               <br/>
               <div class="table-d">
                   <table width="1000" border="1" cellspacing="1" cellpadding="0">
                       <tr>
                           <td width="100">车次</td>
                           <td width="100">起点站<br/>终点站</td>
                           <td width="100">出发时间<br/>到达时间</td>
                           <td width="100">商务座</td>
                           <td width="100">一等座</td>
                           <td width="100">二等座</td>
                           <td width="100">高级软卧</td>
                           <td width="100">软卧</td>
                           <td width="100">动卧</td>
                           <td width="100">硬卧</td>
                           <td width="100">软座</td>
                           <td width="100">硬座</td>
                           <td width="100">无座</td>
                           <td width="100">操作</td>
                       </tr>
                       {% for train in trains %}
                       <tr>
                           <td>{{ train.train_code }}</td>
                           <td>{{ train.from_station_name }}<br/>{{ train.to_station_name }}</td>
                           <td>{{ train.start_time }}<br/>{{ train.arrive_time }}</td>
                           <td>
                               {% if train.sw_seat %}
                                   {% if train.sw_seat != '无' %}
                                       {% if train.sw_seat != '0' %}
                                           {{ train.sw_seat }}
                                           <br/>
                                           ¥1998
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                               {% if train.one_seat %}
                                   {% if train.one_seat != '无' %}
                                       {% if train.one_seat != '0' %}
                                           {{ train.one_seat }}
                                           <br/>
                                           ¥969
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                               {% if train.tow_seat %}
                                   {% if train.tow_seat != '无' %}
                                       {% if train.tow_seat != '0' %}
                                           {{ train.tow_seat }}
                                           <br/>
                                           ¥576
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                               {% if train.high_soft_lie %}
                                   {% if train.high_soft_lie != '无' %}
                                       {% if train.high_soft_lie != '0' %}
                                           {{ train.high_soft_lie }}
                                           <br/>
                                           ¥500
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                               {% if train.soft_lie %}
                                   {% if train.soft_lie != '无' %}
                                       {% if train.soft_lie != '0' %}
                                           {{ train.soft_lie }}
                                           <br/>
                                           ¥455.5
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                                {% if train.move_lie %}
                                   {% if train.move_lie != '无' %}
                                       {% if train.move_lie != '0' %}
                                           {{ train.move_lie }}
                                           <br/>
                                           ¥300
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                               {% if train.strong_lie %}
                                   {% if train.strong_lie != '无' %}
                                       {% if train.strong_lie != '0' %}
                                           {{ train.strong_lie }}
                                           <br/>
                                           ¥283.5
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                               {% if train.soft_seat %}
                                   {% if train.soft_seat != '无' %}
                                       {% if train.soft_seat != '0' %}
                                           {{ train.soft_seat }}
                                           <br/>
                                           ¥235
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                               {% if train.strong_seat %}
                                   {% if train.strong_seat != '无' %}
                                       {% if train.strong_seat != '0' %}
                                           {{ train.strong_seat }}
                                           <br/>
                                           ¥156.5
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <td>
                               {% if train.no_seat %}
                                   {% if train.no_seat != '无' %}
                                       {% if train.no_seat != '0' %}
                                           {{ train.no_seat }}
                                           <br/>
                                           ¥156.5
                                       {% endif %}
                                   {% endif %}
                               {% endif %}
                           </td>
                           <form method="post" action="{% url 'Train:change_order1' %}">
                               {% csrf_token %}
                           <td>
                               <input type="hidden" name="id" value="{{ train.id }}">
{#                               <a href="/border/">预订</a>#}
                               <input type="submit"  style="color:#FF0000" value="预订">
                           </td>
                           </form>
                       </tr>
                       {% endfor %}
                   </table>
               </div>
           </div>
       </div>

   <!--火车时刻表-->
       <!--联系我们-->
           <div class="all5">
               <h4 style="color:#fff">☏&nbsp;&nbsp;联系我们</h4>
           </div>
             <!--联系我们 end-->
       </div>
          <!--指南 end-->
   </div>
</div>


   <!--middle end-->
<div class="foot" >
    <p>
     火车订票
    </p>
</div>

</body>
<script src="/static/js/jquery.min.js"></script>
{#<script src="/static/js/index.js"></script>#}
</html>



{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>改签</title>#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />#}
{#</head>#}
{#<body>#}
{#<!--head-->#}
{#   <div class="header">#}
{#   		<div class="inner">#}
{#   			<div class="logo">#}
{#   <a href="/train/" title="火车票"><img src="/static/img/logo.webp" width="60" height="60"/></a>#}
{#   			</div>#}
{#   			<div class="headlink">#}
{#                {% if request.user.is_authenticated %}#}
{#   				    {{ request.user.username }}<a href="{% url 'Train:user_logout' %}">退出登录</a>#}
{#                    &nbsp;|&nbsp;#}
{#                    <a href="{% url 'Train:change_password' %}">修改密码</a>#}
{#   				{% else %}#}
{#                    <a href="{% url 'Train:user_login' %}">登录</a>#}
{#                    &nbsp;|&nbsp;#}
{#                    <a href="/register/">注册</a>#}
{#                {% endif %}#}
{#   			</div>#}
{#   		</div>#}
{#   </div>#}
{#<!--head end-->#}
{#<div class="middle">#}
{#   <div class="cont">#}
{#   <!--菜单-->#}
{#       <div class="class">#}
{#           <ul>#}
{#               <h3 style="color:#FFF;">栏目分类</h3>#}
{#               <a href="/train/" class="_all2"><li>车票查询</li></a>#}
{#               <a href="#" class="_all3"><li>申请订票</li></a>#}
{#               <a href="/corder/" class="net"><li>我的火车票</li></a>#}
{#               <a href="/problem/" class="_all5"><li>问题反馈</li></a>#}
{#           </ul>#}
{#       </div>#}
{#       <!--菜单 end-->#}
{#       <!--指南-->#}
{#       <div class="class_a">#}
{#      <!--申请订票-->#}
{#           <div class="all1">#}
{#               <h4 style="color:#fff">改签</h4>#}
{#                <table width="1000" border="1" cellspacing="1" cellpadding="0">#}
{#                       <br/>#}
{#                       <tr>#}
{#                           <td width="100">车次</td>#}
{#                           <td width="120">出发日期</td>#}
{#                           <td width="100">起点站</td>#}
{#                           <td width="100">终点站</td>#}
{#                           <td width="100">操作</td>#}
{#                       </tr>#}
{#                       {% for order in orders %}#}
{#                       <tr>#}
{#                       <form method="post" action="{% url 'Train:change_order1' %}">#}
{#                           {% csrf_token %}#}
{#                           <td>#}
{#                           <a>改签的车次</a>#}
{#                              <input value="" style="color:#333333" type="text" name="train_code" id="name" />#}
{#                           </td>#}
{#                           <td>#}
{#                               <a>改签的日期</a>#}
{#                              <input value="" style="color:#333333" type="date" name="date" id="name" />#}
{#                           </td>#}
{#                           <td>{{ order.from_station_name }}</td>#}
{#                           <td>{{ order.to_station_name }}</td>#}
{#                           <td>#}
{#                               <input type="radio" name="id" value="{{ order.id }}">#}
{#                               <input type="submit"  style="color:#333333" value="改签">#}
{#                           </td>#}
{#                           </form>#}
{#                           </tr>#}
{#                       {% endfor %}#}
{#                   </table>#}
{#           <br/>#}
{##}
{#           </div>#}
{#  <!--申请订票 end-->#}
{#       </div>#}
{#          <!--指南 end-->#}
{#   </div>#}
{#</div>#}
{#   <!--middle end-->#}
{#<div class="foot">#}
{#    <p>#}
{#     火车订票#}
{#    </p>#}
{#</div>#}
{##}
{#</body>#}
{#<script src="/static/js/jquery.min.js"></script>#}
{#<script src="/static/js/index.js"></script>#}
{#</html>#}
{##}
{#</body>#}
{#</html>#}